@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Montserrat", sans-serif;
  margin: 0px;
  padding: 0px;
}



/* SCROLLBAR */

/* width */
::-webkit-scrollbar {
  width: 8px;
  height: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgba(16, 77, 148, 0.2);
  border-radius: 5px;

}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #145362;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #145362;
}

/* Sweet Alert 2 */

.swal2-container.swal2-backdrop-show,
.swal2-container.swal2-noanimation {
  z-index: 11000;
}

.swal2-popup {
  border-radius: 20px !important;
  -webkit-border-radius: 20px !important;
  -moz-border-radius: 20px !important;
}

a {
  text-decoration: none;
  border-radius: 15px;
}

a:hover {
  cursor: pointer;
  background-color: #151b4e10;
  border-radius: 15px;
  padding-left: 5px;
  padding-right: 5px;
  transition: all 100ms ease-in-out;
}

a:not(:hover) {
  transition: all 100ms ease-in-out;
}